@font-face {
    font-family: fullstream-iconfont;
    src: url("fullstream-iconfont.eot");src: url("fullstream-iconfont.eot?c227143c#iefix") format("embedded-opentype"),
             url("fullstream-iconfont.woff2?c227143c") format("woff2"),
             url("fullstream-iconfont.woff?c227143c") format("woff"),
             url("fullstream-iconfont.ttf?c227143c") format("truetype"),
             url("fullstream-iconfont.svg?c227143c#fullstream-iconfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="fsif"], [class*=" fsif"] {
    font-family: 'fullstream-iconfont' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.fsif-atom::before {
    content: "\ea01";
}

.fsif-brush::before {
    content: "\ea02";
}

.fsif-calendar::before {
    content: "\ea03";
}

.fsif-camera::before {
    content: "\ea04";
}

.fsif-bwana::before {
    content: "\ea05";
}

.fsif-chat-disabled::before {
    content: "\ea06";
}

.fsif-chat::before {
    content: "\ea07";
}

.fsif-chevron::before {
    content: "\ea08";
}

.fsif-clock::before {
    content: "\ea09";
}

.fsif-cog::before {
    content: "\ea0a";
}

.fsif-cogs::before {
    content: "\ea0b";
}

.fsif-cross::before {
    content: "\ea0c";
}

.fsif-discord::before {
    content: "\ea0d";
}

.fsif-eye::before {
    content: "\ea0e";
}

.fsif-gamepad::before {
    content: "\ea0f";
}

.fsif-artifact::before {
    content: "\ea10";
}

.fsif-counterstrike::before {
    content: "\ea11";
}

.fsif-deadbydaylight::before {
    content: "\ea12";
}

.fsif-dota::before {
    content: "\ea13";
}

.fsif-elitedangerous::before {
    content: "\ea14";
}

.fsif-fortnite::before {
    content: "\ea15";
}

.fsif-hearthstone::before {
    content: "\ea16";
}

.fsif-kingdomhearts::before {
    content: "\ea17";
}

.fsif-leagueoflegends::before {
    content: "\ea18";
}

.fsif-minecraft::before {
    content: "\ea19";
}

.fsif-overwatch::before {
    content: "\ea1a";
}

.fsif-pokemon::before {
    content: "\ea1b";
}

.fsif-rust::before {
    content: "\ea1c";
}

.fsif-skyrim::before {
    content: "\ea1d";
}

.fsif-starcitizen::before {
    content: "\ea1e";
}

.fsif-starcraft-2::before {
    content: "\ea1f";
}

.fsif-vr::before {
    content: "\ea20";
}

.fsif-warframe::before {
    content: "\ea21";
}

.fsif-github::before {
    content: "\ea22";
}

.fsif-headphones::before {
    content: "\ea23";
}

.fsif-heart::before {
    content: "\ea24";
}

.fsif-image::before {
    content: "\ea25";
}

.fsif-info::before {
    content: "\ea26";
}

.fsif-menu::before {
    content: "\ea27";
}

.fsif-microphone::before {
    content: "\ea28";
}

.fsif-monitor::before {
    content: "\ea29";
}

.fsif-pawn::before {
    content: "\ea2a";
}

.fsif-play::before {
    content: "\ea2b";
}

.fsif-search::before {
    content: "\ea2c";
}

.fsif-soccer::before {
    content: "\ea2d";
}

.fsif-spade::before {
    content: "\ea2e";
}

.fsif-star::before {
    content: "\ea2f";
}

.fsif-sub::before {
    content: "\ea30";
}

.fsif-tag::before {
    content: "\ea31";
}

.fsif-truck-2::before {
    content: "\ea32";
}

.fsif-truck::before {
    content: "\ea33";
}

.fsif-tv::before {
    content: "\ea34";
}

.fsif-twitch::before {
    content: "\ea35";
}

.fsif-user::before {
    content: "\ea36";
}

.fsif-users::before {
    content: "\ea37";
}

.fsif-vhs::before {
    content: "\ea38";
}

.fsif-video::before {
    content: "\ea39";
}

